.posts__wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.post__card {
    margin: 1.25rem 0;

    a {
        color: var(--lightColor);
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;
    }

    &-icon {
        width: 70px;
        min-width: 70px;
        height: 70px;
        background: blue;
        border-radius: 50%;
        margin-right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: var(--lightColor);
    }

    &-title {
        flex-grow: 1;
    }

    &-date {
        white-space: nowrap;
    }
}

.post__icon {
    width: 85px;
    height: 85px;
    background: blue;
    border-radius: 50%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    color: var(--lightColor);
}

.post__excerpt {
    font-family: var(--accentFont);
    font-weight: 400;
    color: #ececec;
    padding: 0 0 2rem;
}

.post__thumbnail {
    height: 45vh;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;

    @include breakpoint(up, lg) {
        width: calc(100% + 15vw);
        margin-left: -7.5vw;
    }
}